body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Volkhov', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* header */

.header {
    width: 1440px;
    height: 740px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-image: url(../images/Rectangle\ 140.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 34px;
}

.header-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #FFF;
    font-family: Volkhov;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 40px;
    transition: .5s;
}

.header-logo:hover {
    transform: scale(1.2);
    color: #FFDA32;
}

.header-list {
    display: flex;
    margin-right: 40px;
    gap: 30px;
}

.head-link {
    color: var(--White, #FFF);
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.head-link:hover {
    color: #FFDA32;
}

.btn {
    color: var(--Main-Dark, #1C2B38);
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    padding: 14px 73px;
    border-radius: 3px;
    background: #FFDA32;
}

.header-title {
    color: #1C2B38;
    text-align: center;
    text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
    font-family: Volkhov;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 200px;
}

.header-text {
    color: var(--Main-Dark, #1C2B38);
    text-align: center;
    text-shadow: 0px 1px 20px #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 22px;
}

.play {
    margin-bottom: 210px;
}

.media {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 603px;
}

.media-text {
    color: var(--Main-Dark, #1C2B38);
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 210px;
}

.info {
    width: 1000px;
    height: 90px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(123, 188, 176, 0.50);
    margin-left: 220px;
}

.info-list {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.info-svg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-span-text {
    color: #7BBCB0;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
}

.info-desk {
    color: var(--dark-60, #778088);
    font-family: Mulish;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
    margin-left: 23px;
}

.info-link {
    color: var(--Main-Dark, #1C2B38);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    padding: 16px 48px;
    border-radius: 40px;
    background: #FFDA32;
    box-shadow: 0px 8px 20px 0px rgba(255, 218, 50, 0.50);
}

/* Delhi */

.alaska {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.alaska-text {
    color: #1C2B38;
    text-align: center;
    text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
    font-family: Volkhov;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
}

.alaska-desk {
    color: var(--dark-60, #778088);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 19px;
    padding-bottom: 40px;
}

.alaska-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.alaska-link {
    color: var(--dark-80, #495560);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 32px;
    border-radius: 30px;
    border: 1px solid #7BBCB0;
}

.alaska-btn {
    color: var(--White, #FFF);
    background: #7BBCB0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

.alaska-link:hover {
    color: var(--White, #FFF);
    background: #7BBCB0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

.alaska-img {
   margin-left: 135px;
   margin-top: 40px;
}

.alaska-div {
    width: 1110px;
height: 275px;
border-radius: 3px;
background: #F9FDFF;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
margin-left: 165px;
position: absolute;
margin-top: -80px;
display: flex;
}

.alaska-div-title {
    color: #1C2B38;
    text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
    font-family: Volkhov;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    padding-top: 49px;
}

.alaska-div-text{
    margin-left: 50px;
}

.alaska-div-text1 {
    color: var(--dark-60, #778088);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
width: 464px;
margin-top: 20px;
margin-right: 86px;

}

.main-div {
    border-radius: 3px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
display: flex;
align-items: center;
width: 196px;
padding: 5px 32px;
margin-top: 98px;
gap: 5px;
margin-bottom: 10px;
}

.main-div-text {
color: #D176E0;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cosial {
    display: flex;
    gap: 10px;
}

.cosial-one {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
padding: 5px 32px;
}

.desk1 {
    color: #7BBCB0;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.dek2 {
    color: #E4B613;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.alaska-div-item {
    margin-top: 10px;
}

.desk3 {
 color: #FC3131;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.desk4 {
    color: #5C9BDE;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*main-card*/

.main-card {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background: #FFF;
    margin-top: 225px;
}

.card-list {
    margin-left: 135px;
    display: flex;
    gap: 30px;
}

.card-item {
width: 270px;
border-radius: 3px;
background: #FFF;
box-shadow: 0px 8px 34px 0px rgba(0, 0, 0, 0.06);
}

.main-card-div {
padding: 10px 10px;
}

.card-title {
    color: #1C2B38;
text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
font-family: Volkhov;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
margin-top: 12px;
padding-left: 10px;
}

.card-desk {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    padding-left: 10px;
}

.card-main-text {
    color: var(--dark-80, #495560);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-line {
    width: 270px;
height: 1px;
background: var(--dark-10-border, #E8EAEB);
margin-left: -10px;
margin-top: 20px;
}

.value-stars {
    padding-left: 20px;
    padding-right: 20px;
}

.value-stars {
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 4px;
}

.main-span {
color: var(--dark-60, #778088);
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.value-text {
    color: #7BBCB0;
text-align: right;
text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
font-family: Volkhov;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}

.value-desk {
color: var(--dark-60, #778088);
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

